<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    {% for tag in head_tags %}
    <{{ tag.type }} name="{{ tag.name }}" value="{{ tag.value }}">
    {% endfor %}
    <title>{{ head_title }}</title>
    <link rel="stylesheet" href="/css/default.css">
  </head>
  <body{{ attributes }}>
    <a href="#main-content" class="visually-hidden focusable">'Skip to main content'</a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
  </body>
</html>
