{% macro navList(map) %}
<ul class="site-nav">
  {% for item in map %}
    <li><a href="{{ item.path }}">{{ item.title }}</a></li>
    {% if item.hasSub %}
      {{ navList(item) }}
    {% endif %}
  {% endfor %}
</ul>
{% endmacro %}

{{ navList(item) }}
