<main class="maincontent" role="main">
  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

  {{ page.title }}

  <div class="page-wrapper">
    <div class="main-column">
      {{ page.content }}
    </div>

    <aside class="sidebar" role="complementary">
      {{ page.sidebar }}
    </aside>

  </div>

</main>
